<h1>User#approval_request</h1>

<p>
  <%= @interviewee.name %> さんが面接希望日程を作成しました。
  あなたに承認が依頼されています。
  <%= @interviewee.name %> さんの面接希望日程一覧は
  <%= link_to 'こちら', user_interviews_url(@interviewee.id) %>
</p>
