<h1>Interviews#index</h1>

<ul class="interviews">
  <% if @interviews.any? %>
    <% @interviews.each do |interview| %>
      <li>
        <%= interview.scheduled_on %>
        <%= interview.is_available %>
      </li>
    <% end %>
  <% else %>
    面接日程がありません。
  <% end %>
</ul>
